<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->
<navbar></navbar>
<div class="content main-all-machines" role="main">

<!--     
    <div class="card highlight-card card-small">
        <img
        width="150"
        alt="Angular Logo"
        src = "../assets/images/RD-logo-black.png "
      />
    </div> -->

    <!-- Resources -->
    <h2>Resources</h2>
    <p>Selecciona la accion a realizar:</p>
  
  
    <div class="card-container">



    <a class="card" routerLink="/machinesSales" *ngIf = "sales">
        <span class="material-icons-outlined">
          computer
          </span>
        <span class="selection">POC Machines</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
  
  
      <a class="card" routerLink="/machines">
        <span class="material-icons-outlined">
          computer
          </span>
        <span class="selection">EC2 Machines</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
  
    </div>

  </div>
   <!-- Footer -->
  
  
   <!-- <router-outlet></router-outlet> -->