<div class="toolbar" role="banner" >
    <img routerLink="/"  class="welcome-btn"
      width="40"
      alt="Angular Logo"
      src = "../assets/images/RD-brand-yellow.png "
    />
    <span routerLink="/"  class="welcome-btn">Welcome</span>
    <div class="spacer" ></div>
      <a aria-label="Login" class="nav__item" routerLink="/resources" id="reg-log"  title="login"  *ngIf = "this.user != null" >
      S3
      </a>
      <a aria-label="Login" class="nav__item" routerLink="/resources" id="reg-log"  title="login"  *ngIf = "this.user != null" >
      RAM
      </a>
      <a aria-label="Login" class="nav__item" routerLink="/storage" id="reg-log"  title="login"  *ngIf = "this.user != null" >
      Almacenamiento
      </a>
      <a aria-label="Login" class="nav__item" routerLink="/machines" id="reg-log"  title="login"  *ngIf = "this.user != null" >
        Instancias
        </a>
      <div class="spacer" ></div>
      <a aria-label="Login" class="nav__item" routerLink="/login" id="reg-log"  title="login"  *ngIf = "this.user == null" >
      Log in
      </a>
      <a aria-label="Register" class="nav__item" id="reg-log"  routerLink="/register" title="register"  *ngIf = "this.user == null" >
        Register
      </a>
      <a aria-label="Register" class="nav__item" id="reg-log"   routerLink="/" (click)='logout()' title="logout"  *ngIf = "this.user != null" >
        Cerrar sesión
      </a>
      <a aria-label="Register" class="nav__item" id="reg-log"   routerLink="/resetPassword" title="resetPassword"  *ngIf = "this.user != null" >
        Cambiar contraseña
      </a>
  </div>