<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->
<navbar></navbar>
<div class="content" role="main">

    <!-- Highlight Card -->
  <!--    <div class="card highlight-card card-small">
       <img
        width="150"
        alt="Angular Logo"
        src = "../assets/images/RD-logo-black.png "
      />
      
  
      <span>{{ title }} App </span>
  
    
  
    </div> -->
  
    <!-- Resources -->
    <h2>Resources</h2>
    <p>Selecciona la accion a realizar:</p>
  
    <div class="card-container">
      <a *ngIf="this.services.includes('S3')" class="card"  routerLink="/S3">
        <span class="material-icons-outlined">
          backup
          </span>
      <span class="selection">S3</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>  
    </a>

      <a class="card" *ngIf="this.services.includes('RAM')" routerLink="/resources">
          <span class="material-icons-outlined">
            data_usage
            </span>
        <span class="selection">Resources</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>  
      </a>
      
      
      <a class="card" *ngIf="this.services.includes('STORAGE')" routerLink="/storage">
        <span class="material-icons-outlined">
          storage
          </span>
        <span class="selection">Storage</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
  
      <a class="card" *ngIf="this.services.includes('EC2')" routerLink="/machinesAll">
        <span class="material-icons-outlined">
          computer
          </span>
        <span class="selection">Machines</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
  
    </div>
  
    <input type="hidden" #selection>
    <div class="info__novedades">
      <span >
        {{this.novedades}}
      </span>
    </div>
  </div>
   <!-- Footer -->
  
  
   <!-- <router-outlet></router-outlet> -->