<navbar></navbar>
<div class="wrapper fadeInDown container">
  <div id="formContent">
    <!-- Tabs Titles -->


    <!-- Login Form -->
    <form #resetPasswordForm="ngForm" (ngSubmit)="onSubmit(resetPasswordForm)" >
    <input autocomplete="nope" type="text" id="code" class="fadeIn third" name="code" placeholder="Code" #code="ngModel" [(ngModel)]="data.code" required>
    <input autocomplete="new-password" type="password" id="password" class="fadeIn second" name="password" placeholder="New Password" #password="ngModel" [(ngModel)]="data.newPassword" required>
    <input type="submit" class="fadeIn fourth" value="Reset Passowrd">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Resend code</a>
    </div>

    <div id="formFooter" *ngIf="this.message || this.bool" >
    
      <div  *ngIf="this.message && !this.bool" [ngClass]="{'error-aut':this.message.includes('incorrectos'),'exito-aut':this.message =='Inicio de sesión exitoso'}">
          <a href="#">{{this.message}}</a>
      </div>
     
      <div *ngIf="this.bool && !this.message">
        <a href="#" class="loader"></a>
      </div>

    </div>

   
    
  </div>
</div>

