<div class="wrapper fadeInDown container">
  <div id="formContent">
    <!-- Tabs Titles -->


    <!-- Login Form -->
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email" #email="ngModel" [(ngModel)]="user.email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" #password="ngModel" [(ngModel)]="user.password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

    <div id="formFooter" *ngIf="this.message || this.bool" >
    
      <div  *ngIf="this.message && !this.bool" [ngClass]="{'error-aut':this.message.includes('incorrectos'),'exito-aut':this.message =='Inicio de sesión exitoso'}">
          <a href="#">{{this.message}}</a>
      </div>
     
      <div *ngIf="this.bool && !this.message">
        <a href="#" class="loader"></a>
      </div>

  </div>

   
    
  </div>
</div>

