
.container-machines{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: calc(100vh - 7rem - 7rem);

}

.machines-on{
    background-color: #0000006e;
    margin: 2rem;
    height: 20rem;
    width: 20rem;
    position: relative;
    border: 1px solid #bebf5f38;
}
.machine{
    color: white;
    /* text-transform: uppercase; */
    display: block;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-weight: 400;
    font-family: 'Montserrat';

}
.machine__id{
  
    
}
.machine__name{
      font-size: 1.5rem;  
}

.machine__owner{
    font-size: 1.2rem;
}
.loader__machines{
    width: 6rem;
    height: 6rem;
    font-size: 6rem;
}
.loader__container{
    padding: 5rem;
    /* height: calc(100vh - 7rem); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.on{

}
.off{
    background-color:#5e56566e;
}
.off span{
    color: #91847b;
}

.error-message{
    color: white;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #110f1a7c !important;
    border: 2px solid rgba(240, 240, 18, 0.932);
}

.options__icon{
    color: white;
    position: absolute;
    padding: .7rem;
    top: 0;
    right: 0%;
    cursor: pointer;
}


/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: rgb(228, 200, 44) !important;
}
/deep/.mat-slide-toggle-bar {
    background-color: rgba(139, 128, 63, 0.521) !important;
}