<div class="main">
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Seleccioná la máquina</ng-template>

    
            <mat-form-field appearance="fill">
              <mat-label>Máquina</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.value}} 
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>


        <mat-step [stepControl]="secondFormGroup" label="Seleccioná la cantidad de RAM">
          <form [formGroup]="secondFormGroup">

            <mat-form-field appearance="fill">
              <mat-label>Memoria RAM</mat-label>
              <mat-select>
                <mat-option *ngFor="let ram of rams" [value]="ram.value">
                  {{ram.value}} 
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>



        <mat-step>
          <ng-template matStepLabel>Terminar</ng-template>
          <p>Enviar todo y terminar</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Done</button>
          </div>
        </mat-step>
      </mat-stepper>
</div>


  